<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name= "cn" connectionString="Data Source = DESKTOP-VCR5GTN\SQLEXPRESS; Initial Catalog = Bolt_Food; Integrated Security = True;"/>
    </connectionStrings>

    <!-- <appSettings>
    <add key="ParentTableName" value="Meniu"/>
    <add key="ChildTableName" value="Fel_De_Mancare"/> 
    <add key="IndexID" value="0"/>
    <add key="ChildToParentID" value="Id_Meniu"/>
    <add key="ChildNumberOfColumns" value="4"/>
    <add key="ChildColumnNames" value="Cantitate, Denumire, Pret, Descriere"/>
    <add key="ChildColumnTypes" value="float, string, float, string"/>
    <add key="ChildArr" value="@id, @C, @D, @P, @Descriere"/>
    <add key="ChildInsertQUERY" value="INSERT INTO Fel_De_Mancare 
(Id_Meniu, Cantitate, Denumire, Pret, Descriere)  
VALUES (@id,@C,@D,@P,@Descriere);"/>
        <add key="ChildDeleteQUERY" value="Delete  
from Fel_De_Mancare where Id_Mancare = @id;"/>
        <add key="ChildUpdateQUERY" value="Update  
Fel_De_Mancare set Cantitate = @C, Denumire = @D, 
Pret = @P, Descriere = @Descriere 
where Id_Mancare=@id;"/>
    
    </appSettings> -->


    <appSettings>
        <add key="ParentTableName" value="Meniu"/>
        <add key="ChildTableName" value="Bauturi"/>
        <add key="IndexID" value="0"/>
        <add key="ChildToParentID" value="Id_Meniu"/>
        <add key="ChildNumberOfColumns" value="4"/>
        <add key="ChildColumnNames" value="Cantitate, Denumire, Pret, Descriere"/>
        <add key="ChildColumnTypes" value="float, string, float, string"/>
        <add key="ChildArr" value="@id, @C, @D, @P, @Descriere"/>
        <add key="ChildInsertQUERY" value="INSERT INTO Bauturi 
(Id_Meniu, Cantitate, Denumire, Pret, Descriere)  
VALUES (@id,@C,@D,@P,@Descriere);"/>
        <add key="ChildDeleteQUERY" value="Delete  
from Bauturi where Id_Bautura = @id;"/>
        <add key="ChildUpdateQUERY" value="Update  
Bauturi set Cantitate = @C, Denumire = @D, 
Pret = @P, Descriere = @Descriere 
where Id_Bautura=@id;"/>

    </appSettings>

	<!--
     <appSettings>
        <add key="ParentTableName" value="Adresa"/>
        <add key="ChildTableName" value="Client"/>
        <add key="ChildToParentID" value="Id_Adresa"/>
        <add key="IndexID" value="5"/>
        <add key="ChildNumberOfColumns" value="3"/>
        <add key="ChildColumnNames" value="nume_complet, email, parola"/>
        <add key="ChildColumnTypes" value="string, string, string"/>
        <add key="ChildArr" value="@id, @n, @e, @p"/>
        <add key="ChildInsertQUERY" value="INSERT INTO Client 
(Id_Adresa, nume_complet, email, parola, Id_Adresa_actuala)  
VALUES (@id,@n,@e,@p,@id);"/>
        <add key="ChildDeleteQUERY" value="Delete  
from Client where Id_Client = @id;"/>
        <add key="ChildUpdateQUERY" value="Update  
Client set nume_complet = @n, email = @e, 
parola = @p 
where Id_Client=@id;"/> 

    </appSettings> 
    -->
</configuration>